@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --azulclaro: #48D6ED;
  --azuloscuro: #337AB7;
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000;
  --gris: #B2B3B3;
  --fondo: #FFFEFC;
  --verdeazul: #157A8A;
  --Magenta: #9C2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}
 
*{
    margin:0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
 
  h1,h2,h3,h4,h5{
    font-family: 'Marcellus', serif;
}

@media screen and (min-width: 801px){

    nav{
        display: grid;
        background-color: var(--negro2);
        grid-template-columns: repeat(2,1fr);
        grid-template-columns: 200px auto;
        justify-content: space-between;
        grid-template-areas: 
        "logo menu";
    }

    .navbar{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: space-between;
        width: 98%;
        font-family: 'Marcellus', serif;
        font-size: 1.3em;
        padding: 1rem;
    }
    .navbar-option{
    display: grid;
    margin-left: 10rem;
 }

    

 .item{
    padding: 1rem;
    }

    .menu-hr{
        display: none;
    }

    .banner{
        width: 100%;
        background-size: cover;
    }
    
    nav a{
        color: var(--blanco);
        text-decoration: none;
    }
    .logo img{
        width: 100px;
        color: #FFFEFC;
    }

 .navbar-button{
    background-color:#337AB7;
    border-radius: 3px;
    font-size: 0.7em;
    padding: 0.5rem;
    font-family: 'Marcellus', serif;
    color: var(--blanco);}
    

.caja{
    position: relative;       
}

.texto{
    position: absolute;
    margin-top: -10%;
    background-color: #00000059;
    color: #fff;
    text-align: left;
    font-size: 1.5em;
    width: 100%;

}

 .caja2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0.25rem;
    padding: 3rem;
 }

.imgH{
    width: 90%;
}

 .cajaimg{
    display: grid;
    width: 100%;
    align-items: center;
    justify-content: center;
 }

 .contenedor{
     width: 100%;
     position: relative;
 }

 .features-description{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
 }

 #features{
    color: #ffffff;
    padding-top: 1rem;
    text-align: center;
}

.features-title{
    background-color: rgba(0,0,0,0.35);
    text-align: center;
    padding: 0.5rem;
    font-size: 1.5em;
}

 .cajafeatures{
    background-image: url(../img/bg-features.png);
    display: grid;
    gap: 1rem;
    padding: 0.5rem;
    width: 100%;
 }

 .titulo{
    width: 100%;
    display: grid;
    justify-content: center;
 }

 .feature{
    display: grid;
    justify-content: center;
    gap: 1.25rem;
    padding: 1rem;
    margin: 0.8rem;
    width: 100%;
    min-width: 180px;
    max-width: 230px;
 }

 .feature i{
    font-size: 2.2em;
    margin-bottom: 1.5rem;
}

.feature-blue{
    background-color: #00325eae;
    border-radius: 1rem;
}
 
.feature-black{
    background-color: rgba(0,0,0,0.59);
    border-radius: 1rem;
}

 .ubicacion{
    display: grid;
    gap: 0.5rem;
    justify-content: center;
    width: 100%;
 }

 .textoM{
    text-align: center;
    margin: 0.5rem;
}

 .ContainerCartas{
    display: grid;
    gap: 1.25rem;
    padding: 0 2rem;
 }

 .cartascontenedorcajas{
    margin-left: 5rem;
}

 .tituloUsuarios{
    height: 10rem;
    width: 100%;
    background-color: #000;
    color: #FFFEFC;
    text-align: center;
    display: grid;
    justify-content: center;
    width: 100%;
}

 .cartas{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    width: 100%;
 }

 .start{
    width: 40%;
    height: 1.5rem;
    position: absolute;
    top: 3rem;
    margin-left: 4rem;
    color: #FFFEFC;
}
.textoCarta{
    color: #fff;
    margin: 0.5rem;
    padding: 0.5rem;
}

.persona1{
    margin: 1.5rem;
    border-radius: 0.5rem;
    background-image: url(../img/fondoAzul.jpeg);
    background-size: 120%;
    background-position: center;
    width: 20rem;
    height: 15rem;
    position: absolute;
    margin-left: 2rem;
    margin-top: -5rem;
    padding: 1rem;
}

.imgP1{
    border-radius: 1.5rem;
    margin: 0.5rem;
}

.nombre1{
    text-align: right;
    top: 1rem;
    margin-left: 4rem;
    position: absolute;
    color: #FFFEFC;

}

.persona2{
    margin: 1.5rem;
    border-radius: 0.5rem;
    background-image: url(../img/fondoAzul.jpeg);
    background-size: 120%;
    background-position: center;
    width: 20rem;
    height: 15rem;
    position: absolute;
    margin-left: 26rem;
    margin-top: -5rem;
    padding: 1rem;


}

.persona3{
    margin: 1.5rem;
    border-radius: 0.5rem;
    background-image: url(../img/fondoAzul.jpeg);
    background-size: 120%;
    background-position: center;
    width: 20rem;
    height: 15rem;
    position: absolute;
    margin-left: 50rem;
    margin-top: -5rem;
    padding: 1rem;

}


 .footer{
    background-color: #262830;
    color: #ffffff;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
    padding: 2.5rem;
    margin-top: 15rem;
    height: 15rem;
 }

 .redes{
    text-align: left;
    margin-top: 2rem;
    margin-left: 1em;

}

.direccion{
    text-align: center;
    margin-left: 5rem;
    margin-top: 2rem;
}

    .Politicas{
    text-align: right;
    margin-left: 6rem;
    margin-top: 2rem;
}

.lineaFooter{
    display: none;
}

/*Registro habitaciones*/

.bodyRH{
    background-image: url(../img/sala.webp);
    background-size: cover;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 5% auto 5%;
    grid-template-rows: 5% auto 5%;
}

.caja1RH{
    background-color: #fff;
    height: 100vh;
    width: 100%;
}

.FormRH{
    background-color: #fffefcd3;
    border-radius: 5px;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-column-start: 3;
    grid-row-start: 2;
    grid-template-columns: 3% 45% 4% 45% 8%;
    grid-template-rows: 5% 5% 4% 25% 20% 5% 35% 5%;
}

.tituloRH{
    text-align: center;
    font-size: 1em;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    height: 100%;
    width: 100%;
}

.caja2RH{
    display: grid;
    text-align: left;
    align-items: center;
    width: 100%;
    height: 45vh;  
    grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end: 6;
    grid-template-columns: 5% 80% 10% 5%;
    grid-template-rows: 33% 5% 33% 33%;

}

.caja1ResponsiveRH{
    grid-column-start: 2;
    grid-column-end: 5;
}

.caja3RH{
    text-align: left;
    padding: 1rem;
    float: right;
    grid-column-start: 4;
    grid-row-start: 4;
    grid-row-end: 6;
}

.textolabelR{
    color: #000;    
    grid-column-start: 2;
    grid-row-start: 2;
}


.inputRH{
    background-color: #ffffff;
    width: 100%;
    grid-column-start: 2;

}

.inputsRH{
    grid-column-end: 3;
    grid-row-start: 3;
}

.inputmasRH #mas{
    font-size: 1.2rem; 
    background-color: #000; 
    color: #fff;
}



.inputmenosRH #menos{
    margin-top: 1rem;
    margin-left: 0rem;
    font-size: 1.2rem;
    text-align: center;
    width: 25px;
    height: 25px;
    background-color: #000; 
    color: #fff;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

}

.textolabelRH{
    color: #000000;
    grid-row-start: 2;
}

.input2RH{
    margin-top: 0.5rem;
    width: 100%;
    height: 1.5rem;
    box-shadow: 0px 1 px 0px 1px #303342;
}

.inputRH1{
    width: 40%;
    height: 8%;
}

.textoDescripcionRH{
    width: 100% ;
    color: #000;
    box-shadow: 0px 1px 0px 1px #30334298;
}

.caja4RH{
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 8;
}

.inputtextoRH{
    width: 100%;
    height: 5rem;
}

.caja5RH{
    display: grid;
    color: #000;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-template-columns: 3% 18% 18% 18% 16% 18%;
    grid-template-rows: 30% 20%  20% 20%;
}

.iconosFinalRH{
    display: grid;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
}

.icon1{
    grid-column-start: 4;
}

.icon2{
    grid-column-start: 5;
}

.icon3{
    grid-column-start: 6;
}

.icon4{
    grid-column-start: 7;
}

.icon5{
    grid-column-start: 8;
}

.icon6{
    grid-column-start: 9;
}
.caja5RH i{
    font-size: 150%;
    
}

.botonRH{
    background-color: #303342;
    color: #fff;
    box-shadow: 1px 1px 1px 1px #5c7cb498;
    border-radius: 0.1rem;
    width: 10rem;
    height: 2rem;
    font-size: 1rem;
    grid-column-start: 4;
    grid-column-end: 6;
   grid-row-start: 4;
}
}


/*responsive mobile*/
@media screen and (max-width: 800px){
    
    nav{
        /*display: grid;
        grid-area: nav;
        background-color: var(--negro2);
        grid-template-columns: 200px auto;
        grid-template-areas: 
        "logo" 
        "menu";
        position: fixed;
        width: 100%;
        z-index: 100;*/
        width: 100%;

    }


    .logo {
        grid-area: logo;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-template-areas:
            "logo-img fa-bars";
        background-color: var(--negro2);
        padding: 1rem;
        height: 20%;
    }
    

        .logo img{
            width: 300%;
            max-width: 100px; 
            justify-self: start;  
        }
     
     .logo i{
        grid-area: menu-bars;
        justify-self: end;
        color: var(--blanco);
        font-size: 2rem;
     }
     .menu{
        background-color: rgba(1, 10, 52, 0.838);
        grid-area: menu;
        display: grid;
        flex-direction: column;
        align-items: center;
        grid-template-columns: 200px;
        justify-content: center;
    }
    .menu-hr{
        width: 90%;
        height: 1px;
        background-color: var(--blanco);
        justify-self: center;
        margin-left: 0.5rem;
    }
    .item {
        margin: 0rem;
        padding: 1rem 0;
        align-self: center;
        text-decoration: none;
        color: #fff;
    }
     
    nav a {
        color: var(--blanco);
        text-decoration: none;
        text-align: center;
    }
     
    nav a:hover {
        background-color: transparent;
        width: 100%;
        color: var(--azuloscuro);
    }
     
    .navbar-button {
        background-color: transparent;
        border: none;
        border-radius: 3px;
        font-size: 1em;
        padding: 0.5rem;
        font-family: 'Marcellus', serif;
        color: var(--blanco);
        align-self: center;
    }

    .caja{
        display: grid;
    }

    .banner{
        width: 100%;
        background-image: url('../img/index//slide1.jpg');
        background-size: cover;
        background-position: 50% 50%;
        min-height: 400px;
    }

    .texto{
        background-color: #00000059;
        color: #fff;
        text-align: center;
        padding: 0.5rem;
        font-size: 1.5em;
        position: absolute;
        margin-top: -9rem;
        width: 100%;
    }
    
    .caja2{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 0.25rem;
        padding: 3rem;
     }

     .imgH{
        width: 70%;
        margin-left: 5rem;
    }

    .cajaimg{
        display: grid;
        width: 100%;
        align-items: center;
        justify-content: center;
     }

     .contenedor{
        width: 100%;
        position: relative;
        display: grid;
    }
   
    .features-description{
       display: grid;
       grid-template-columns: repeat(4,1fr);
       gap: 1rem;
       justify-content: space-around;

    }
   
    #features{
       color: #ffffff;
       padding-top: 1rem;
       text-align: center;
       
   }
   
   .features-title{
       background-color: rgba(0,0,0,0.35);
       text-align: center;
       padding: 0.5rem;
       font-size: 1.5em;
   }
   
    .cajafeatures{
       background-image: url(../img/bg-features.png);
       display: block;
       gap: 1rem;
       padding: 0.5rem;
       width: 100%;
    }
   
    .titulo{
       width: 100%;
       display: grid;
       justify-content: left;
       margin-left: 5rem;
    }
   
    .feature{
       display: grid;
       gap: 1.25rem;
       padding: 1rem;
       margin: 0.8rem;
       width: 70%;
       flex-direction: column;
       justify-content: center;
       align-items:center;

    }
    
   
    .feature i{
       font-size: 2.2em;
       margin-bottom: 1.5rem;
   }
   
   .feature-blue{
       background-color: #00325eae;
       border-radius: 1rem;
       columns: 1;

   }
    
   .feature-black{
       background-color: rgba(0,0,0,0.59);
       border-radius: 1rem;
       row-gap: 2;
   }
   
    .ubicacion{
       display: grid;
       gap: 0.5rem;
       justify-content: center;
       width: 100%;
    }
   
    .textoM{
       text-align: center;
       margin: 0.5rem;
   }
   
    .ContainerCartas{
       display: grid;
       gap: 1.25rem;
       padding: 0 2rem;
       flex-direction: row;
    }
   
    .cartascontenedorcajas{
        width: 200%;
        display: grid;
       margin-left: 5rem;
       animation:  cambio  20s infinite ;
    animation-direction:alternate-reverse;

   }

   @keyframes cambio {
            
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}

    50%{margin-left: -200%;}

    300%{margin-left: -300%;}
}
   
    .tituloUsuarios{
       height: 10rem;
       width: 100%;
       background-color: #000;
       color: #FFFEFC;
       text-align: center;
       display: grid;
       justify-content: center;
       width: 100%;
   }
   
   
    .start{
       width: 40%;
       height: 1.5rem;
       position: absolute;
       top: 3rem;
       margin-left: 4rem;
       color: #FFFEFC;
   }
   .textoCarta{
       color: #fff;
       margin: 0.5rem;
       padding: 0.5rem;
   }
   
   .persona1{
       margin: 5rem;
       border-radius: 0.5rem;
       background-image: url(../img/fondoAzul.jpeg);
       background-size: 120%;
       background-position: center;
       width: 44%;
       height: 15rem;
       position: absolute;
       margin-left: 2rem;
       margin-top: -5rem;
       padding: 1rem;
   }
   
   .imgP1{
       border-radius: 1.5rem;
       margin: 0.5rem;
   }
   
   .nombre1{
       text-align: right;
       top: 1rem;
       margin-left: 4rem;
       position: absolute;
       color: #FFFEFC;
   
   }
   
   .persona2{
       margin: 2rem;
       border-radius: 0.5rem;
       background-image: url(../img/fondoAzul.jpeg);
       background-size: 120%;
       background-position: center;
       width: 44%;
       height: 15rem;
       position: absolute;
       margin-left: 26rem;
       margin-top: -5rem;
       padding: 1rem;
   }
   
   .persona3{
       margin: 2rem;
       border-radius: 0.5rem;
       background-image: url(../img/fondoAzul.jpeg);
       background-size: 120%;
       background-position: center;
       width: 44%;
       height: 15rem;
       position: absolute;
       margin-left: 50rem;
       margin-top: -5rem;
       padding: 1rem;
   
   }
   
   
    .footer{
       background-color: #262830;
       color: #ffffff;
       display: grid;
       grid-template-columns: repeat(3,1fr);
       gap: 3rem;
       padding: 2.5rem;
       margin-top: 15rem;
       height: 15rem;
    }
   
    .redes{
       text-align: left;
       margin-top: 2rem;
       margin-left: 1em;
   
   }
   
   .direccion{
       text-align: center;
       margin-left: 5rem;
       margin-top: 2rem;
   }
   
       .Politicas{
       text-align: right;
       margin-left: 6rem;
       margin-top: 2rem;
   }
   
   .lineaFooter{
    margin-right: 1px;
    height: 0.1rem;
    width: 14rem;
    color: #303342;
   }

   /*Estilos Registro Habitacion*/

   .bodyRH{
    background-image: url(../img/sala.webp);
    background-size: cover;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 5% auto 5%;
    grid-template-rows: 5% auto 5%;
}

.caja1RH{
    background-color: #fff;
    height: 100vh;
    width: 100%;
}

.FormRH{
    background-color: #fffefcd3;
    border-radius: 5px;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-column-start: 3;
    grid-row-start: 2;
    grid-template-columns: 3% 45% 4% 45% 8%;
    grid-template-rows: 5% 5% 4% 25% 20% 5% 35% 5%;
}

.tituloRH{
    text-align: center;
    font-size: 1em;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    height: 100%;
    width: 100%;
}

.caja2RH{
    display: grid;
    text-align: left;
    align-items: center;
    width: 100%;
    height: 45vh;  
    grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end: 6;
    grid-template-columns: 5% 80% 10% 5%;
    grid-template-rows: 33% 5% 33% 33%;

}

.caja1ResponsiveRH{
    grid-column-start: 2;
    grid-column-end: 5;
}

.caja3RH{
    text-align: left;
    padding: 1rem;
    float: right;
    grid-column-start: 4;
    grid-row-start: 4;
    grid-row-end: 6;
}

.textolabelR{
    color: #000;    
    grid-column-start: 2;
    grid-row-start: 2;
}


.inputRH{
    background-color: #ffffff;
    width: 100%;
    grid-column-start: 2;

}

.inputsRH{
    grid-column-end: 3;
    grid-row-start: 3;
}

.inputmasRH #mas{
    font-size: 1.2rem; 
    background-color: #000; 
    color: #fff;
}



.inputmenosRH #menos{
    margin-top: 1rem;
    margin-left: 0rem;
    font-size: 1.2rem;
    text-align: center;
    width: 25px;
    height: 25px;
    background-color: #000; 
    color: #fff;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

}

.textolabelRH{
    color: #000000;
    grid-row-start: 2;
}

.input2RH{
    margin-top: 0.5rem;
    width: 100%;
    height: 1.5rem;
    box-shadow: 0px 1 px 0px 1px #303342;
}

.inputRH1{
    width: 40%;
    height: 8%;
}

.textoDescripcionRH{
    width: 100% ;
    color: #000;
    box-shadow: 0px 1px 0px 1px #30334298;
}

.caja4RH{
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 8;
}

.inputtextoRH{
    width: 100%;
    height: 5rem;
}

.caja5RH{
    display: grid;
    color: #000;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-template-columns: 3% 18% 18% 18% 16% 18%;
    grid-template-rows: 30% 20%  20% 20%;
}

.iconosFinalRH{
    display: grid;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
}

.icon1{
    grid-column-start: 4;
}

.icon2{
    grid-column-start: 5;
}

.icon3{
    grid-column-start: 6;
}

.icon4{
    grid-column-start: 7;
}

.icon5{
    grid-column-start: 8;
}

.icon6{
    grid-column-start: 9;
}
.caja5RH i{
    font-size: 150%;
    
}

.botonRH{
    background-color: #303342;
    color: #fff;
    box-shadow: 1px 1px 1px 1px #5c7cb498;
    border-radius: 0.1rem;
    width: 10rem;
    height: 2rem;
    font-size: 1rem;
    grid-column-start: 4;
    grid-column-end: 6;
   grid-row-start: 4;
}
}


